<div class="list-group">
    @Html.ActionLink("Weryfikuj uzytkownikow", "VerifyUsers", "Admin", new { category = "popo" }, new { @class = "list-group-item" })    
    @Html.ActionLink("Dodaj statystyke recznie", "AddLottoResultManually", "Admin", new { category = "popo" }, new { @class = "list-group-item" })    
    @Html.ActionLink("Dodaj statystyke automatycznie", "AddLottoResultAuto", "Admin", new { category = "popo" }, new { @class = "list-group-item" })    
    @Html.ActionLink("Wyloguj", "Logout", "Account", new { category = "popo" }, new { @class = "list-group-item" })    
</div>