<div class="list-group">
    @Html.ActionLink("Weryfikuj uzytkownikow", "Logout", "Account", new { category = "popo" }, new { @class = "list-group-item" })    
    @Html.ActionLink("Dodaj statystyke recznie", "Logout", "Account", new { category = "popo" }, new { @class = "list-group-item" })    
    @Html.ActionLink("Dodaj statystyke automatycznie", "Logout", "Account", new { category = "popo" }, new { @class = "list-group-item" })    
    @Html.ActionLink("Wyloguj", "Logout", "Account", new { category = "popo" }, new { @class = "list-group-item" })    
</div>